*{
 
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.arrow{
  height: 15rem;
  width: .2rem;
  background-color: black;

  z-index: 5;
  transform: rotateX(60deg);
}
.bow{
  position: absolute;
  display: block;
  transform: rotateX(50d
  eg);
  filter: drop-shadow( 0rem 7rem .4rem black);
}



.target{
  position: absolute;
  display: block;
  transform: rotateX(50deg);
  animation: mover;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  z-index: 2;
  width: 13%;
  filter: drop-shadow( 0rem -5rem 1rem rgba(0, 0, 0, 0.649));
}
@keyframes mover {
  0%{
   left: 10%;
  }
  50%{
    left: 80%;
  }
  100%{
  left:10%;
  }
  
}
.color{
  transform: rotateX(50deg);
  z-index: 2;
  width: 13%;
  height: 13rem;
  border-radius: 12rem;
  border: 1rem solid white;
  position: absolute;
  top: 5%;
  animation-timing-function: linear;
  animation: mover;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  
}
.card{
  position: absolute;
  text-align: center;
  padding-top: 2.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  top: 6%;

  left: 35%;
}
.main-bg{
  background-image: url(46190.jpg);
  background-position: bottom;
  background-size: cover;
  height: 108vh;
  width: 101%;
  z-index: -2;
  position: relative;
 
}
.pts{
  z-index: 5;
  position: absolute;
  margin-right: 2%;
  width: 20rem;
  height: 15rem;

  border: .3rem solid black;  
  display: flex;
  flex-direction: column;
  background-color: rgb(204, 204, 204);
  justify-content: space-around;
  align-items: center;
  color: rgba(30, 30, 30, 0.713);
  border-radius: 1rem;
  zoom: 100%;
  transition: .4s;

}

.body-controller{
  z-index: 5;
  width: 100%;
  height: 100vh;
  

}

.ballin{
  border-radius: 1rem;
  width: 1rem;
  height: 1rem;
}
.baller{
  width: 10rem;
  display: flex;
  justify-content: space-around;
}
.sc{
  font-weight: 700;
  font-size: 3rem;
}
@keyframes grow {
  
}
h1{
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.holder{
  height: 50%;
  width: 1%;
  background-color: brown;
  position: absolute;
  top: 0%;
  left: 15%;
  z-index: 0;
  animation-timing-function: linear;
  animation: mover1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes mover1 {
  0%{
    left: 16%;
  }
  50%{
    left: 86%;
  }
  100%{
    left: 16%;
  }
 
  
}

.retry{

  width: 4rem;
  height: 2.5rem;
  color: white;
  background-color: red;
  border: none;
  border: none;
  border-radius: 1rem;
  display: none;
}


.ba{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: -6%;
  height:20rem;
  background-color: transparent;
  z-index: 2;
}
.ba2{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 101%;
  bottom: -10%;
  height: 20rem;
  
  
  z-index: 6;
}
 
.ba3{
  position: relative;
  display: flex;
  justify-content: center;
  position: absolute;

  width: 100%;
  bottom: 0%;
  height: 110vh;
  
  
  z-index: 5;
}
.color{
  display: none;
}
.tc{

  display: flex;
  align-items:start ;
  justify-content: end;
  position: absolute;
  top: 0%;
  width: 101%;
  height: 30%;

  

}
.pts-c{
  position: absolute;
  top: 30%;
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: end;
  align-items: center;
 z-index: 6;
}

@media (max-width:1600px) {
  .color{
    display: none;
  }
  .arrow-move{
    position: absolute;
    height:10rem;
    width: .1rem;

    
    animation-duration: .1s;
    animation-iteration-count:1;
    background-color: black;
  
  }
  .tc{
    display: flex;
    align-items: center;
    justify-content: end;
    position: fixed;
    top: 0%;
    width: 101%;
    height: 15%;
  
  }

  .bow{
    width: 29%;
  }

  .pts{
  z-index: 6;

  width: 20rem;
  height: 15rem;
 
  border: .3rem solid black;  
  display: flex;
  flex-direction: column;
  background-color: rgb(204, 204, 204);
  justify-content: space-around;
  align-items: center;
  color: rgba(30, 30, 30, 0.713);
  border-radius: 1rem;
  zoom: 80%;
  transition: .4s;

  }


}
@media (max-width:700px) {
  
  @keyframes mover1 {
    0%{
      left: 20%;
    }
    50%{
      left: 90%;
    }
    100%{
      left: 20%;
    }
   
    
  }
  .target{
    width: 25%;
    animation-duration: 2.5s;
  }
  .holder{
    animation-duration: 2.5s;
  }
  
  .pts{
    z-index: 6;
  
    width: 20rem;
    height: 12rem;
   
    border: .3rem solid black;  
    display: flex;
    flex-direction: column;
    background-color: rgb(204, 204, 204);
    justify-content: space-around;
    align-items: center;
    color: rgba(30, 30, 30, 0.713);
    border-radius: 1rem;
    zoom: 50%;
    transition: .4s;
  
    }
    .arrow{
      width: .1rem;
      height: 8rem;
    }
 
    .pts{
      zoom: 50%;
    }


  .color{
    display: none;
  }
  .pts{
    zoom: 50%;
    height: 11rem;
  }
  .pts-c{
    height: 10rem;
    
    display: flex;
    justify-content: center;
    position: absolute;
    top: 80%;
  }
  
  .arrow-move{
    position: absolute;
    height:6rem;
    width: .1rem;
    top: 70%;
    
    
    animation-duration: .1s;
    animation-iteration-count:1;
    background-color: black;
  
  }
}

.arrow-move{
  position: absolute;
  height:5rem;
  width: .1rem;
  top: 70%;
  display: none;
  
  animation-duration: .04s;
  animation-iteration-count:1;
  background-color: black;

}
@keyframes ar{
  from{
  top: 66%;
  }
  to{
    top: 3%;
  }
}
@media (min-height:700px) {
  
  .pts-c{
    position: absolute;
    top: 30%;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: end;
    align-items: center;
   z-index: 6;
  }
}